<!DOCTYPE html>
<html>

<head>
  <title>Civica Log Viewer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.gif" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
		<img class="navbar-brand" src="civica-logo.png"/> <span class="navbar-brand">Civica Log Viewer</span>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", { :controller => :audit, :action => :index }%></li>
		</ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <%= breadcrumbs display_single_fragment: false, style: :bootstrap, separator: '' %>

    <%= yield %>

  </div>

</body>

</html>
